.content {
	width: 50%;
	float: right;
	margin-top: -20px;
	padding: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	// overflow: hidden;

}
.contentFull{
	width: 75%;
	.projectContainer {
	// opacity: 1;

	}
}

.contentShrink {
	.projectContainer {
		// opacity: 0;
	}
}


.hunna {
	margin: 0;
	height: 100vh;
}