div.intro {
	display: flex;
	flex-direction: column;
	padding: 40px;
	justify-content: space-between;
	background: url(assets/websiteBkgGridsmall.png) fixed;
	p {
		width: 75%;
		text-align: center;
		margin: 0 auto;
	}
}

img.header {
	width: 75%;
	margin: 0 auto;
	-webkit-mix-blend-mode: multiply;
	// background: blue;

}

